<section class="search">
    <div class="container">
      <div id="alert"></div>
      <form action="/search" class="search-form">
        <div class="search-flex">
          <input
            type="text"
            name="movieSearch"
            id="searchTerm"
            placeholder="Enter search term"
          />
          <button class="btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </section>