<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Flixx | Movie Details</title>
</head>
<body>
    <%- include('../partials/header') %>

    <!-- Movie Details -->
    <section class="container">
        <div class="back">
            <a class="btn" href="/">Back To Movies</a>
        </div>
        <!-- Movie Details Output -->
        <%- include('movieDetails') %>
    </section>

    <!-- Footer -->
    <%- include('../partials/footer') %>

    <div class="spinner"></div>
</body>
</html>